/*CSS Catalogo de Servicios*/

.services__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service{
    background: var(--color-varsec);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover{
    background: var(--color-varprimary);
    border-color: var(--color-varbckg);
    cursor: default;
}

.srvc__hd{
    background: var(--color-varprimary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.srvc__hd h3{
    color: var(--color-bckg);
    font-size: 1rem;
    text-align: center;
} 

.srvc__lst{
    padding: 2rem;
}

.srvc__lst li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.srvc__lst-icon{
    color-scheme: var(--color-primary);
    font-size: 2rem;
    
}

.srvc__lst p{
    font-size: 1rem;
}

/* ====================== Medium Devices/ Tablets  ========================*/
@media screen and (max-width:1024px){
    .services__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .service{
        height: auto;
    }
}

/* ====================== Small Devices/ Phones  ========================*/
@media screen and (max-width:600px){
    .services__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}