header {
    height: 105vh;
    padding-top: 3rem;
    overflow: hidden;
    background: linear-gradient(var(--color-varsec), var(--color-varprimary));
    padding-bottom: 3rem;
    }

.header__container {
    background-image:url('../../assets/WebSucus.webp');
    background-size: cover;
    background-blend-mode: color;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color:var(--background-color);
    height: 100%;
    min-height: 500px;
    overflow-y: visible;
    position: relative;
    padding: 5rem 0 10rem 0;
    text-align: center;
    width: 100%;    
}


/* ======================= CTA ==========================*/

.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======================= Social Menu ==========================*/

.social__menu {
    display:inline-block;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 15rem;
    top: 15rem;
    bottom: 3rem;
    font-size: 3rem;
    color: var(--color-light);
}

.social__menu::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-light);

}
.h1{
    color: var(--color-varsec);
}
/* ======================= Images CSS. ==========================*/

.logo {
    background: var(--color-varsec);
    width: 22rem;
    height: 30rem;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 20rem 20rem 20rem 20rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    transition: var(--transitionin);
}
.logo:hover {
    background: var(--color-varprimary);
    border-color: var(--color-varbckg);
    transition: var(--transitionin);
    color: var(--color-varsec);
    text-decoration-color: black;
            
}


/* ====================== MEDIA QUERIES (1024p)  ========================*/
@media screen and (max-width:1200px) {
    header{
        background:linear-gradient(var(--color-varbckg),transparent);
        height: 45rem;
    }
    .txt-chng{
        color: var(--color-varsec);
    }
    .social__menu{
        display: none;
    }
    
}



/* ====================== MEDIA QUERIES (600px)  ========================*/
@media screen and (max-width:750px) {

    .social__menu{
        display: none;
    }
    
}