.App {
  text-align: center;
}

.App-logo-react {
  height: 20vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-react {
    animation: App-logo-spin infinite 20s linear;
  }
  
}

.App-firelogo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-firelogo {
    animation: wiggle infinite 2s linear;
  }
  
}



.App-header {
  background-color: #ffd2a9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #0f244a;
}

.App-link {
  color: #2873ba;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
